.main {
    &__about {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;

        &__content {
            display: grid;
            width: 70%;
            margin: 0 auto;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;

            &__text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 1em;

                h2 {
                    color: #333;
                    margin-bottom: 1em;
                }

                p {
                    font-weight: 100;
                    color: #444;
                }
            }

            &__image {
                display: flex;
                align-items: center;
                max-width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                }

            }
        }

        &__data {
            background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(Images/vencedor-com-int.jpeg);
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            background-attachment: fixed;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            &__container {
                width: 70%;
                display: flex;
                
                ul {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 1fr;
                    width: 100%;
                    margin: 0;

                    li {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        list-style: none;
                        text-align: center;

                        div {
                            &:first-child {
                                font-size: 56px;
                                font-weight: 700;
                                color: $main-color;
                            }

                            &:last-child {
                                padding: 0 1em;
                                font-size: 18px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .main {
        &__about {
            &__content {
                width: 80%;
                grid-template-columns: 2fr 1.5fr;
            }
        }
        
    }
}