.header {
    font-family: 'Poppins', 'kanit', 'roboto', sans-serif;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../Styles/Images/comemoracao.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: 110%;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr;

    &__title {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        h1 {
            text-align: center;
            height: fit-content;
            color: white;
            margin: 0;
            font-size: 64px;
            font-weight: 700;
            

            span {
                color: $main-color;
            }
        }        
    }
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;

        &__container {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 4em;
        }
        
        &__item {
            width: 170px;
            height: 150px;
            border: 1px solid #77777777;
            list-style: none;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: large;
            line-height: 1.2;
            font-weight: 600;
            margin: 0 1em;

            &__icon {
                font-size: 32px;
                color: $main-color;
                margin-bottom: 0.3em;
            }

            transition: all 300ms ease-out;
            &:hover {
                border: 1px solid $main-color;
                cursor: pointer;
                transform: translateY(-3px);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__title {    
            h1 {
                margin-top: 2em;
                font-size: 42px;
                padding: 0.2em;
            }
        }
        background-attachment: unset;
        background-position: center;
        background-size: cover;
        height: 1500px;
        &__list {
            flex-direction: column;
            width: 80%;

            &__item {
                width: 100%;
                margin: 1em 0;
            }
        }

    }    
}