.main {
    &__members {
        max-width: $screen-l;
        margin: 3em auto;
        padding: 0 1em;

        &__intro {
            font-size: 42px;
            font-weight: 600;
        }

        &__container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 2em;

            &__cell {
                border: 1px solid rgba(100, 100, 100, 0.1);
                display: flex;
                flex-direction: column;
                transition: all 250ms ease-in-out;
                border-radius: 12px;

                &:hover {
                    cursor: pointer;
                    transform: translateY(-10px);
                    box-shadow: 0 0 8px 8px rgba(100, 100, 100, 0.07);
                }

                &__photo {
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                    height: 250px;
                    background-image: url(/Styles/Images/istockphoto-1327592449-612x612.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &__desc {
                    display: flex;
                    flex-direction: column;
                    padding: 1em;

                    &__name {}

                    &__role {}

                    &__course {}
                }
            }
        }
    }
}

@media screen and (max-width: $screen-l) {
    .main {
        &__members {
            max-width: $screen-m;

            &__container {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (max-width: $screen-m) {
    .main {
        &__members {
            max-width: $screen-s;

            &__container {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, 1fr);
            }
        }
    }
}