.navbar {
    max-width: $screen-l;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    height: 78px;
    padding: 0 1em;

    &__logo {
        width: 58px;

        &__responsive {
            max-width: 100%;
            height: auto;
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 1em;
        &__item, &__ps {
            a {
                text-decoration: none;
                color: $gray-900;
                transition: all 300ms ease-in-out;
                &:hover {
                    color: $main-color;
                }
            }
            
        }
        &__ps {
            display: none;
        }
    }
    &__menu {
        display: none;
        i {
            color: $main-color;
        }
    }
    &__ps {
        border: 1px solid $main-color;
        padding: 0.5em 1em;
        border-radius: 4px;
        a {
            text-decoration: none;
            color: $gray-900;
        }
    }
}

@media screen and (max-width: $screen-l) {
    .navbar {
        &__container {
            padding-right: 1.5em;
            display: none;
            width: fit-content;
            text-align: right;

            &__item, &__ps {
                display: inline-block;
                a {
                    color: $davys-gray;
                }
            }
        }
        &__ps {
            display: none;
        }
        &__menu {
            z-index: 2;
            display: block;
            font-size: 48px;
        }
        .active {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            height: 100vh;
            width: 80vw;
            max-width: 300px;
            background-color: $gray-900;
            border-top-left-radius: 2em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 2;
        }
    }
    
    
}