.navbar {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;

    &__logo {
        width: 100px;

        &__responsive {
            max-width: 100%;
            height: auto;
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 1em;

        &__item {

        }

        &__ps {
            display: none;
        }
    }
    &__menu {
        display: none;
    }
}

@media screen and (max-width: $screen-l) {
    .navbar {
        &__container {
            display: none;
            &__ps {
                display: inline-block;
            }
        }
        &__processo-seletivo {
            display: none;
        }
        &__menu {
            z-index: 2;
            display: block;
            font-size: 48px;
        }
        .active {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            background-color: yellow;
            display: flex;
            flex-direction: column;
        }
    }
    
    
}