/* Width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $main-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #db9f27;
}