@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: 'Poppins', 'kanit', 'roboto', sans-serif;
  color: #555; }

h1, h2, h3, h4, h5, h6 {
  color: #333; }

/* Width */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFC451; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #db9f27; }

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Styles/Images/comemoracao.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-size: 110%;
  background-repeat: no-repeat;
  width: 100%;
  height: fit-content; }
  .header__title, .header__list {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: center; }
  .header__title {
    padding: 0 1em;
    text-align: center;
    margin: 4em auto; }
    .header__title h1 {
      font-size: 64px;
      font-weight: 700;
      color: #f5f5f5; }
      .header__title h1 span {
        color: #FFC451; }
  .header__list__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0 0 4em 0;
    justify-content: space-between; }
    .header__list__container__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #77777777;
      width: 170px;
      height: 150px;
      padding: 1em; }
      .header__list__container__item__icon {
        color: #FFC451;
        font-size: 2em; }
      .header__list__container__item__text {
        text-align: center;
        color: #f5f5f5; }

@media screen and (max-width: 1024px) {
  .header {
    background-size: cover;
    background-attachment: unset; }
    .header__title, .header__list {
      display: flex;
      max-width: 768px;
      margin: 0 auto;
      justify-content: center; }
    .header__title h1 {
      font-size: 32px; }
    .header__list {
      display: flex;
      justify-content: center; }
      .header__list__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 1em; }
        .header__list__container__item {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
          padding: 0.5em 1em; } }
.navbar {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  height: 78px;
  padding: 0 1em; }
  .navbar__logo {
    width: 58px; }
    .navbar__logo__responsive {
      max-width: 100%;
      height: auto; }
  .navbar__container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1em; }
    .navbar__container__item a, .navbar__container__ps a {
      text-decoration: none;
      color: #f5f5f5;
      transition: all 300ms ease-in-out; }
      .navbar__container__item a:hover, .navbar__container__ps a:hover {
        color: #FFC451; }
    .navbar__container__ps {
      display: none; }
  .navbar__menu {
    display: none; }
    .navbar__menu i {
      color: #FFC451; }
  .navbar__ps {
    border: 1px solid #FFC451;
    padding: 0.5em 1em;
    border-radius: 4px; }
    .navbar__ps a {
      text-decoration: none;
      color: #f5f5f5; }

@media screen and (max-width: 1024px) {
  .navbar__container {
    padding-right: 1.5em;
    display: none;
    width: fit-content;
    text-align: right; }
    .navbar__container__item, .navbar__container__ps {
      display: inline-block; }
      .navbar__container__item a, .navbar__container__ps a {
        color: #555555; }
  .navbar__ps {
    display: none; }
  .navbar__menu {
    z-index: 2;
    display: block;
    font-size: 48px; }
  .navbar .active {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
    width: 80vw;
    max-width: 300px;
    background-color: #f5f5f5;
    border-top-left-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2; } }

/*# sourceMappingURL=stylesheet.css.map */
